<html>
    <head>
		<meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/style.css">
        <script type="text/javascript"
            src="{{ url_for('static', filename='js/main.js') }}">
        </script>
    </head>
    <!-- TODO: Make JavaScript work without this onload event here -->
    <body onload="setup()">
        <div class="content">
            <div class="controlPanel">
                <h1>CONTROL PANEL</h1>
                <div class="date-control-wrapper">
                    <input class="date-element safari" type="datetime-local" id="start" name="ts-start" value="2020-01-01" size="10">
                    <input class="date-element not-safari" type="date" id="birthday" name="birthday">
                    <input class="date-element safari" type="datetime-local" id="end" name="ts-end" value="2020-04-01" size="10">
                    <input class="date-element not-safari" type="date" id="birthday" name="birthday">
                </div>
                <div class="vorhersage-wrapper">
                    <label class="switch" name="vorhersage">
                        <input type="checkbox">
                        <span class="checkboxSlider"></span>
                    </label>                      
                    <label class="vorhersageLabel" for="vorhersage">Vorhersage anzeigen</label>
                </div>
                <div class="slider-wrapper raumtemperatur" id="raumtemperatur">
                    <p class="heading">Raumtemperatur</p>
                    <input type="range" min="1800" max="2400" value="2100" class="slider" id="raumtemperaturSlider">
                    <div class="text">
                        <p class="value low raumtempLow">18°C</p>
                        <p class="value high raumtempHigh">24°C</p>
                    </div>
                    <div class="current current1">
                        <span class="currentValue currentValue1"></span>
                    </div>
                </div>
                <div class="slider-wrapper lüfterstufe" id="lüfterstufe">
                    <p class="heading">Lüfterstufe - Zuluft</p>
                    <input type="range" min="0" max="4" value="2" class="slider" id="lüfterZuluftSlider">
                    <div class="text">
                        <p class="value low zuluftLow">0</p>
                        <p class="value high zuluftHigh">4</p>
                    </div>
                    <div class="current current2">
                        <span class="currentValue currentValue2"></span>
                    </div>
                </div>
                <div class="slider-wrapper lüfterstufe" id="lüfterstufe">
                    <p class="heading">Lüfterstufe - Abluft</p>
                    <input type="range" min="0" max="4" value="2" class="slider" id="lüfterAbluftSlider">
                    <div class="text">
                        <p class="value low abluftLow">0</p>
                        <p class="value high abluftHigh">4</p>
                    </div>
                    <div class="current current3">
                        <span class="currentValue currentValue3"></span>
                    </div>
                </div>
                <div class="slider-wrapper kompressor" id="kompressor">
                    <p class="heading">Lüfterstufe - Abluft</p>
                    <input type="range" min="0" max="2" value="1" class="slider" id="kompressorSlider">
                    <div class="text">
                        <p class="value low kompressorLow">Kühlen</p>
                        <p class="value high kompressorHigh">Heizen</p>
                    </div>
                    <div class="current current4">
                        <span class="currentValue currentValue4"></span>
                    </div>
                </div>
            </div>
            <div class="grafana-wrapper">
                <iframe class="grafana-frame" src="" width="700" height="500" frameborder="0"></iframe>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Dashboards</button>
            <div class="dropdown-content">
                <a href="#" onclick="dropdown(1)">Dashbord 1</a>
                <a href="#" onclick="dropdown(2)">Dashbord 2</a>
            </div>
          </div>
        <div class="btn-wrapper">
            <a class="button inactive" id="aktualisieren" href="#">Aktualisieren</a>
            <a class="button inactive" id="anwenden" href="#">Anwenden</a>
        </div>
        <script src="../static/js/main.js" type="text/javascript"></script>
    </body>
</html>