<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <!-- TODO: Make JavaScript work without this onload event here -->
    <body onload="setup()">
        <h1>CONTROL PANEL</h1>
        <div class="content">
            <div class="controlPanel">
                <div class="slider-wrapper raumtemperatur" id="raumtemperatur">
                    <p class="heading">Raumtemperatur</p>
                    <input type="range" min="1800" max="2400" value="1900" class="slider" id="raumtemperaturSlider">
                    <div class="text">
                        <p class="value low">18°C</p>
                        <p class="value high">24°C</p>
                    </div>
                    <div class="current">
                        <span class="currentValue"></span>
                    </div>
                </div>
                <div class="slider-wrapper lüfterstufe" id="lüfterstufe">
                    <p class="heading">Lüfterstufe - Zuluft</p>
                    <input type="range" min="0" max="1000" value="50" class="slider" id="lüfterZuluft">
                    <div class="text">
                        <p class="value low">0%</p>
                        <p class="value high">100%</p>
                    </div>
                    <div class="current">
                        <span class="currentValue"></span>
                    </div>
                </div>
                <div class="slider-wrapper lüfterstufe" id="lüfterstufe">
                    <p class="heading">Lüfterstufe - Abluft</p>
                    <input type="range" min="0" max="1000" value="50" class="slider" id="lüfterAbluft">
                    <div class="text">
                        <p class="value low">0%</p>
                        <p class="value high">100%</p>
                    </div>
                </div>
                <div class="slider-wrapper kompressor" id="kompressor">
                    <p class="heading">Lüfterstufe - Abluft</p>
                    <input type="range" min="0" max="1000" value="50" class="slider" id="kompressor">
                    <div class="text">
                        <p class="value low">0%</p>
                        <p class="value high">100%</p>
                    </div>
                </div>
            </div>
            <div class="grafana-wrapper">
                <div class="date-control-wrapper">
                    <label class="heading" for="start">Start Datum:</label>
                    <input class="date-element" type="datetime-local" id="start" name="ts-start" value="2020-01-01T00:00">

                    <label class="heading" for="end">End Datum:</label>
                    <input class="date-element" type="datetime-local" id="end" name="ts-end" value="2020-04-01T00:00">
                </div>
              <iframe id = "grafana-iframe" class="grafana" src="{{iframe}}" width="800" height="400" frameborder="0"></iframe>
            </div>
        </div>
        <a class="button" href="#">Übernehmen</a>
        <script src="main.js" type="text/javascript"></script>
    </body>
</html>